*{
    margin: 0;
    padding: ;
}
.header{
    background-color: rosybrown;
    height: 100px;
    text-align: center;
}
.menu_bar{
    background-color: saddlebrown;
    height: 100px;
    text-align: center;
    }
  .content{
  overflow: hidden;
  }
  .left_content{
     width: 50%;
     height: 500px;
     background-color: mediumvioletred;
     float: left;

  }     
.right_content{
    width: 50%;
    height:500px ;
    background-color: olivedrab;
    float: left;

}
.bottom{
   height: 50%;
   background-color: seagreen;


}   

.footer{
    background-color: steelblue;
    height: 50px;



}


  
 


    
    


    

   





  
  

 


